<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feilonkji.www.dao.UpvoteMapper" >
  <resultMap id="BaseResultMap" type="com.feilonkji.www.entity.Upvote" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="content_id" property="contentId" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="upvote" property="upvote" jdbcType="VARCHAR" />
    <result column="downvote" property="downvote" jdbcType="VARCHAR" />
    <result column="upvote_time" property="upvoteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, u_id, content_id, ip, upvote, downvote, upvote_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from upvote
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from upvote
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feilonkji.www.entity.Upvote" >
    insert into upvote (id, u_id, content_id, 
      ip, upvote, downvote, 
      upvote_time)
    values (#{id,jdbcType=BIGINT}, #{uId,jdbcType=BIGINT}, #{contentId,jdbcType=BIGINT}, 
      #{ip,jdbcType=VARCHAR}, #{upvote,jdbcType=VARCHAR}, #{downvote,jdbcType=VARCHAR}, 
      #{upvoteTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.feilonkji.www.entity.Upvote" >
    insert into upvote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="upvote != null" >
        upvote,
      </if>
      <if test="downvote != null" >
        downvote,
      </if>
      <if test="upvoteTime != null" >
        upvote_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=BIGINT},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="upvote != null" >
        #{upvote,jdbcType=VARCHAR},
      </if>
      <if test="downvote != null" >
        #{downvote,jdbcType=VARCHAR},
      </if>
      <if test="upvoteTime != null" >
        #{upvoteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feilonkji.www.entity.Upvote" >
    update upvote
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=BIGINT},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=BIGINT},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="upvote != null" >
        upvote = #{upvote,jdbcType=VARCHAR},
      </if>
      <if test="downvote != null" >
        downvote = #{downvote,jdbcType=VARCHAR},
      </if>
      <if test="upvoteTime != null" >
        upvote_time = #{upvoteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feilonkji.www.entity.Upvote" >
    update upvote
    set u_id = #{uId,jdbcType=BIGINT},
      content_id = #{contentId,jdbcType=BIGINT},
      ip = #{ip,jdbcType=VARCHAR},
      upvote = #{upvote,jdbcType=VARCHAR},
      downvote = #{downvote,jdbcType=VARCHAR},
      upvote_time = #{upvoteTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>